<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Dystopia.Frontend</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="getticketspage">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> List Tickets
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="postticketpage">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Post a Ticket
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="getroomspage">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> List Rooms
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="postroompage">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Post a Room
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="getorderspage">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> List Orders
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="postorderpage">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Post an Order
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="getcustomerspage">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> List Customers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="postcustomerpage">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Post a Customer
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
